input {
    max-width: 300px;
    margin: 0 auto 18px auto;
}
button {
    margin: 20px 5px;
}
.output-section {
    padding: 0;
}
.custom-card {
    margin: 20px auto;   
}
.title-text {
    color: #4e73df;
    font-size: 7rem;
    line-height: 5.75rem;
}
.image-size{
    max-height: 15rem;
    padding-top: 3rem;
}
.btn-landing {
    color: white !important;
    min-width: 7rem;
}
.main-image{
    max-height: 45rem;
}
.body-padding{
    padding-left: 3rem;
    padding-right: 3rem; 
}
.collapseThis {   
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2.1rem;
    outline: thick 2px black;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.successBg {
    background-color: #1cc88a;
}
.active, .successBg:hover, .warningBg:hover, .dangerBg:hover{
    filter: brightness(85%);
}
.warningBg {
    background-color: #f6c23e;
}

#dataTable_filter {
    visibility: hidden;
}
.dangerBg {
    background-color: #e74a3b;
}
