.homePage {
    background-image: url('../Images/mortgage-refinance-16x9.jpg'); background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.custom-col {
    background-color: #4e73df;
}

.title-custom {
    font-size: 3vw;
}

.home-p {
    background-color: #4e73df;
    font-size: 1.5vw;
}

@media only screen and (max-width: 1499px) {

    .title-custom {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1499px) {

    .home-p {
        font-size: 20px;
    }
}